@CHARSET "EUC-KR";
/*
 * CSS3 Treeview. No JavaScript
 * @version 1.0
 * @author Martin Ivanov
 * @url developer's website: http://wemakesites.net/
 * @url developer's twitter: https://twitter.com/#!/wemakesitesnet
 * @url developer's blog http://acidmartin.wordpress.com/
 **/
 
/*
 * This solution works with all modern browsers and Internet Explorer 9+. 
 * If you are interested in purchasing a JavaScript enabler for IE8 
 * for the CSS3 Treeview, please, check this link:
 * http://experiments.wemakesites.net/miscellaneous/acidjs-css3-treeview/
 **/
#treev  ul,
#treev  li
{
    padding: 0;
    margin: 0;
    list-style: none;
}
 
#treev  input
{
    position: absolute;
    opacity: 0;
}
 
#treev *
{
    font: normal 11px "Segoe UI", Arial, Sans-serif;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
 
#treev a
{
    color: #735ffe;
    text-decoration: none;
}
 
#treev a:hover
{
    text-decoration: bold;
    font-size: 15px;
}


/* 
	in to margin ul + a
	but in my class doesn't have this section.
*/
#treev input + label + ul + a
{
    margin: 0 0 0 22px;
}
 
#treev input ~ ul
{
    display: none;
}
 
#treev  label,
#treev  label::before
{
    cursor: pointer;
}
 
#treev  input:disabled + label
{
    cursor: default;
    opacity: .6;
}
 
#treev  input:checked:not(:disabled) ~ ul
{
    display: block;
}
 
#treev  label,
#treev  a,
#treev  label::before
{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}
 
#treev  label
{
    background-position: 18px 0;
}
 
#treev  label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    vertical-align: middle;
    background-position: 0 -32px;
}
 
#treev  input:checked + label::before
{
    background-position: 0 -16px;
}
 
/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    #treev  
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
 
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix 
    {
        from 
        { 
            padding: 0;
        } 
        to 
        { 
            padding: 0;
        }
    }
}